extends layout

block content

  script.
    function vote(node) {
      var ping = new Image();
      ping.src = node.href;
      return false;
    }
  
  nav.navbar.navbar-default(role="navigation")
    h4.navbar-text Blanker News
    ul.nav.navbar-nav
      unless user
        li
          a(href="/login") Login
        li
          a(href="/register") Register
      else
        li
          a(href="/submit") Submit
        li
          a(href="/logout") Logout
        a.nav.navbar-nav.navbar-right(href="/user/#{user.username}")
          strong.text-right.navbar-text #{user.username}

  ul.list-group
    each story, index in stories
      li.list-group-item
        if story.url
          a(href="#{story.url}") #{story.title}
        else
          a(href="") #{story.title}
        a(href="/story/#{story.storyId}") &nbsp;Comments
        br
        p Upvotes: #{story.upvote}
        p Downvotes: #{story.downvote}
        a(onclick="return vote(this)", href="/story/#{story.storyId}/upvote") Upvote Story
        br
        a(onclick="return vote(this)", href="/story/#{story.storyId}/downvote") Downvote Story

