extends layout

block content

  script.
    function vote(node) {
      var ping = new Image();
      ping.src = node.href;
      console.log(node.href);
      return false;
    }

  unless user
    a(href="/login") Login
    br
    a(href="/register") Register
  else
    p You are logged in as #{user.username}
    br
    a(href="/submit") Submit
    br
    a(href="/logout") Logout

  ul
    each story, index in stories
      br
      li
        | #{index+1}.
        if story.url
          a(href="#{story.url}") #{story.title}
        else
          a(href="") #{story.title}
        a(href="/story/#{story.storyId}") &nbsp;Comments
        br
        p Upvotes: #{story.upvote}
        p Downvotes: #{story.downvote}
        a(onclick="return vote(this)", href="/story/#{story.storyId}/upvote") Upvote Story
        br
        a(onclick="return vote(this)", href="/story/#{story.storyId}/downvote") Downvote Story

