extends layout

block content
 script.
    function vote(node) {
      var ping = new Image();
      ping.src = node.href;
      console.log(node.href);
      return false;
    }

 if story.url
    a(href="#{story.url}") #{story.title}
  else
    h1 #{story.title}
    br
    p #{story.text}
  p #{story.submitter}

  form(action="#{submitComment}", method="post")
    textarea(name="comment")
    br
    button(type="submit") Submit Comment

  ul#comments
    each comment in story.comments
      li 
        b By: #{comment.submitter}
        br
        p #{comment.comment}
        br
        p Parents: #{comment.parentPath}
        br
        
        p Upvotes: #{comment.upvote}
        p Downvotes: #{comment.downvote}
        a(onclick="return vote(this)", href="/story/#{story.storyId}/comment/#{comment.id}/upvote") Upvote Comment
        br
        a(onclick="return vote(this)", href="/story/#{story.storyId}/comment/#{comment.id}/downvote") Downvote Comment

        form(action="#{submitComment}", method="post")
          textarea(name="comment")
          input(type="hidden", name="parentPath", value="#{comment.parentPath + '/' + comment.id}")
          br
          button(type="Submit") Reply
